html,
body {
 margin: 0;
 padding: 0;
}

body {
 color: #211f1e ;
 background: url(../img/bg.jpg) no-repeat center center fixed; 
 background-size: cover;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.pagination{ 
    display: inline-block;
}
.pagination button{    
    border-radius: 50%;
    border: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;    
    cursor: pointer;
    display: inline-block;
    background: #428bca;
    text-align: center;
    position: relative;
    padding: 0;
}
.pagination button span{
    display: inline-block;
    color: #FFF;
    font-size: 30px;
    line-height: 1;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
} 
.pagination button:focus{
    outline:none;
}
.pagination span{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    line-height: 2;
}

button:disabled {
    opacity: .75;
    cursor: default;
}

select {
    width: 150px;
    margin: auto;
    background-color: transparent;
}

.fonts-list-wrap {
    width: 80%;
    margin: 0 auto 20px;
    padding: 20px;
    background-color: #FFF;
}

@media only screen and (max-device-width:768px){
    .fonts-list-wrap {
        width: 100%;
        padding: 20px 5px;
    }
    select {
        width: auto;
    }
}

@media only screen and (max-device-width:480px){
    .jumbotron {
        padding: .5em;
    }
}